<div style="margin-top:1rem;">
        <span>
                <img style="margin-bottom: 20px; cursor: pointer;" (click)="onNavigateToHome()" src="../../assets/eminent-technology-md-logo.png" />
            </span>
            <h2 *ngIf="toggleHeaderText">
            Welcome to Eminent Test Interview
            </h2>
            <span>
            
                <label *ngIf="!toggleHeaderText" style="float:right;" class="lead">
                    {{questionType}} Developer Test
                    </label>
            </span>
</div>
