<div class=" container-fluid">
  <div class="container">
    <div>
        <app-header [pageType]="pageType" [questionType]="questionType"></app-header>
    </div>
    <br />
    <br />
    <br />
    <div *ngIf="questionType ==='Frontend'">

      <p class="lead">
        Using the API's provided
        You are to create a front-end app to consume the Web Api using React, angular, react or .Net Mvc
      </p>
    </div>
    <div *ngIf="questionType ==='Backend'">
      <p class="lead">
        A church group has a group of rosters such as North, West, East, Beholding his glory, etc
        You are to develop a application thaat assigns a unique color to each rostersin church.

        Create an application that display all rosters and their unique color.

        <ul>
          <li>
            Color must be unique
          </li>
          <li>
            It should be able to add and remove color from the roster
          </li>
          <li>
            It should be able to add and remove roster
          </li>
        </ul>

        Describe and explain the following before proceeding to code
        <ul>
          <li>
            Describe how to solve the problem
          </li>
          <li>
            What end points would be needed
          </li>
        </ul>

        Requirements
        <ul>
          <li>
            Use Web Api 2
          </li>
          <li>
            Write Unit Tests
          </li>
          <li>
            Implement Security for the application
          </li>
        </ul>

    </div>

    <div *ngIf=" questionType==='Fullstack'">
      <p class="lead">
        A church group has a group of rosters such as North, West, East, Beholding his glory, etc
        You are to develop a application thaat assigns a unique color to each rostersin church.

        You are to develop an application to display all rosters and their unique colors

        Create an application that display all rosters and their unique color.

        <ul>
          <li>
            Color must be unique
          </li>
          <li>
            It should be able to add and remove color from the roster
          </li>
          <li>
            It should be able to add and remove roster
          </li>
        </ul>

        Describe and explain the following before proceeding to code
        <ul>
          <li>
            Describe how to solve the problem
          </li>
          <li>
            What end points would be needed
          </li>
        </ul>

        Requirements
        <ul>
          <li>
            Use Web Api 2
          </li>
          <li>
            Write Unit Tests
          </li>
          <li>
            Implement Security for the application
          </li>
          <li>
              You are to create a front-end app to consume the Web Api using React, angular, react or .Net Mvc
          </li>
        </ul>
    </div>
  </div>
</div>