
<div class=" container-fluid">
  <div class="container">
 <app-header [pageType]="pageType"></app-header>
    <br/>
    <br/>
    <br/>

    <div class="list-group">
      <label style="text-align:center">
        Please select a test 
      </label>
  <a (click)="onNavigateClick('Frontend')" [ngClass]="{'active-link': isActiveLink }" class="list-group-item list-group-item-action">
    <label style="text-align:center">
        Front-end Developer
    </label></a>
  <a (click)="onNavigateClick('Backend')" [ngClass]="{'active-link': isActiveLink }" class="list-group-item list-group-item-action">
      <label style="text-align:center">
          Backend Developer
      </label> </a>
  <a (click)="onNavigateClick('Fullstack')"  [ngClass]="{'active-link': isActiveLink }" class="list-group-item list-group-item-action">
      <label style="text-align:center"> Full Stack Developer
        </label>
  </a>
  </div>
  </div>
</div>